<div class="card mb-4">
    <div class="card-block">
      <h4 class="card-title col-md-12 p-3">Details of Game: {{game.gameName}}</h4>
      <div class="card-body row m-1">
        <div class="col-md-4 p-3">
          <h6 class="card-subtitle text-muted">Game Name</h6>
          <p class="card-text">{{game.gameName}}</p>
        </div>
        <div class="col-md-4 p-3">
          <h6 class="card-subtitle text-muted">Cost of Entry</h6>
          <p class="card-text">{{game.reward}}</p>
        </div>
        <div class="col-md-4 p-3">
          <h6 class="card-subtitle text-muted">Board Seed</h6>
          <p class="card-text">{{game.boardSeed}}</p>
        </div>
      </div>
      <div class="card-footer text-right">
          <button id="listBtn" type="button" [routerLink]="['/games']"
                  class="btn m-1 btn-outline-primary">Back
          </button>
          <button id="editBtn" type="button" [routerLink]="['edit']"
                  class="btn m-1 btn-outline-success">Edit
          </button>
          <button id="deleteBtn" type="button" [routerLink]="['delete']"
                  class="btn m-1 btn-outline-danger">Delete
          </button>
        </div>
    </div>
  </div>
  