<div class="container text-center Mail">
    <div class="row">
            <div class="col-lg-12">
                <div class="snip1537">
                    <h1>WebMemory</h1>
                    <h6>Erasmus Group</h6><br/>
                    <a [routerLink]="['/players']" href="#"><h5>Press Here To Play</h5><br/><i class="ion-star"></i></a>
                  </div>
            </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <h1 class="text-styling">About</h1>
            <p class="text-styling custom-align">WebMemory is a card game in which all of the cards are laid face down on a surface and two cards are flipped face up over each turn. The object of the game is to turn over pairs of matching cards.

                    WebMemory can be played with any number of players or as solitaire. It is a particularly good game for young children, though adults may find it challenging and stimulating as well. The scheme is often used in quiz shows and can be employed as an educational game.</p>
        </div>

        <div class="col-lg-6">
            <h1 class="text-styling">Technologies</h1>
            <p class="text-styling custom-align">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id mattis sapien. Cras vel ullamcorper neque. Integer dignissim augue orci, ac pharetra ligula aliquet ac. Aenean lobortis magna eu quam vulputate gravida. Cras tempus risus quam, in tincidunt tortor lobortis eu. Integer et erat vitae lacus porta aliquet vel dignissim magna. Mauris porta quis ante eget interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis iaculis convallis odio, porttitor lacinia ipsum interdum eget</p>
        </div>
    </div>


    <div class="row">
            <div class="col-lg-3">
                <h1>🌹</h1>
                <h1 class="text-styling">Martina Sesar</h1>
            </div>

            <div class="col-lg-3">
                <h1>☕️</h1>
                <h1 class="text-styling">Mirsad Bralj</h1>
            </div>

            <div class="col-lg-3">
                <h1>🎮</h1>
                <h1 class="text-styling">Amer Alihodz</h1>
            </div>

            <div class="col-lg-3">
                <h1>⚔️</h1>
                <h1 class="text-styling">Tarik Ćosović</h1>
            </div>
        </div>
</div>