<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/about']">WEB<b>Memory</b></a>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed" aria-controls="navbarContent" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li>

      <li class="nav-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" [routerLink]="['/highscores']">Highscores</a>
        </li>

      <li class="nav-item" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="adminDropdown" role="button"
           aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>Administration</a>
        <div class="dropdown-menu" aria-labelledby="adminDropdown" ngbDropdownMenu>
             <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/players']"><span class="fa fa-user"></span> Users</a>

             <a class="dropdown-item" [routerLinkActive]="'active'" [routerLinkActiveOptions]="{ exact: true }"
             [routerLink]="['/games']"><span class="fa fa-user"></span> Games</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Administer other entities...</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav" style="margin-left:-200px !important" app-login-navbar></ul>
  </div>
</nav>
