 <div class="panel panel-warning">
  <div class="panel-heading">
    <div class="panel-title text-styling deletion-styling text-center" style="font-size: 30px">You are about to delete the user:<span style="color:greenyellow; font-size:35px;"> {{user.id}}</span></div>
    <div class="panel-title text-styling deletion-styling text-center" style="font-size: 23px">Please, confirm deletion:</div><br>
  </div>
  <div class="panel-body">
    <div class="text-center">
      <button id="deleteBtn" type="button" (click)="delete()"
              class="btn btn-outline-danger m-1">Delete</button>
      <button id="listBtn" type="button" (click)="ReRoute()"
              class="btn btn-outline-primary m-1">Cancel</button>
    </div>
  </div>
</div>
